/* All modules reusable parts ------------------------
 ----------------------------------------------------- */
/* Links & Buttons */
.main-btn {
  @include transition-main;/*what is it?*/
  @apply font-semibold flex items-center justify-center;
  height: 40px;
  font-size: 0.87rem;
  line-height: 1.3;
  padding: 0 24px;
  text-transform: uppercase;
  transition: .3s;
  &:focus {
    outline: 0px;
  }

  &--primary {
    &:hover{
      @apply text-white bg-orange;
    }
  }

  &--small {
    padding: 0 20px;
  }

  &--blue {
    border-radius: 3px;
    padding: 0 46px;
  }

  &--white {
    &:hover {
      box-shadow: 0 3px 6px 0 rgba(59,199,237,.26);
      @apply text-blue-600;
    }
  }
}
