.input {
  &__element {
    font-size: 1.07rem;
    height: 32px;
    padding-left: 9px;
    &::-webkit-input-placeholder {
      @apply opacity-75;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    top: 8px;
    right: 8px;
  }
}
