.tags {
  font-size: 0.8rem;

  &-item {
    padding: 4px 5px;
    margin-right: 6px;
    background-color: rgba(33, 153, 226, 0.15);
    border-radius: 3px;
    transition: .3s;
    &:hover {
      @apply bg-blue-300 text-white;
    }
  }
}
