<!--section class="home"-->
<section class="home flex">
  <!--sidebar class="home__list"-->
  <sidebar class="home__list text-blue-200">
    <div class="div">
      <ul class="font-semibold">
        <li class="home__list-item"><a href="#">Featured</a></li>
        <li class="home__list-item"><a href="#">Most Popular Templates</a></li>
        <li class="home__list-item"><a href="#">Corporate & Business Models</a></li>
        <li class="home__list-item"><a href="#">Data ( Tables, Graphs & Charts)</a></li>
        <li class="home__list-item"><a href="#">Organization & Planning</a></li>
        <li class="home__list-item"><a href="#">Text Slides</a></li>
        <li class="home__list-item"><a href="#">Maps</a></li>
        <li class="home__list-item"><a href="#">Others</a></li>
      </ul>
      <div class="home__label text-center border border-blue-100">
        <h4 class="home__label-title">Get your own design team</h4>
        <p class="home__label-text text-grey-100">Tailored packages for corporates & teams</p>
        <button class="main-btn main-btn--blue w-full normal-case text-blue-200 border border-blue-200 hover:text-blue-400">Learn More</button>
      </div>
    </div>

  </sidebar>
  <!--end of sidebar class="home__list"-->
  <!--div class="home__wrapper"-->
  <div class="home__wrapper">
    <!--div class="home__banner"-->
    <div class="home__banner flex items-center flex-grow text-white">
      <div class="w-1/2 pr-16 flex">
        <h3 class="home__banner-title font-normal">Get your presentation designed by the world’s leading presentation design company</h3>
      </div>
      <div class="w-1/2 z-10 flex items-end flex-col ">
        <p class="home__banner-text">Submit your presentation today for as little a</p>
        <button class="main-btn main-btn--white text-blue-500 bg-white">find out more</button>
      </div>
    </div>
    <!--end of div class="home__banner"-->
    <!--div of class="home__templates"-->
    <div class="home__templates">
      <h1 class="home__templates-title text-grey-200 text-center font-normal">Our Free PowerPoint templates</h1>
      <div class="home__templates-wrapper flex flex-wrap ">
        <div class="home__card">
          <img src="../img/slide1.jpg" class="home__card-img" alt="slide1"/>
          <div class="home__card-footer">
            <p class="text-base text-grey-100">Thank You Slides PowerPoint Template</p>
            <p class="home__card-text text-green-100 uppercase">10 Slides</p>
            <div class="tags text-blue-200 flex">
              <a href="#" class="tags-item">Timelines</a>
              <a href="#" class="tags-item mr-0">Timelines</a>
            </div>
          </div>
        </div>

        <div class="home__card home__card--banner text-white flex flex-col items-center justify-between overflow-hidden">
          <div class="text-center">
            <h5 class="home__card-title text-white font-bold">Bring the consistency </h5>
            <p>to the design of your presentation</p>
          </div>
          <button class="main-btn main-btn--white text-blue-500 bg-white z-10">find out more</button>
        </div>

        <div class="home__card">
          <img src="../img/slide2.jpg" class="home__card-img" alt="slide1"/>
          <div class="home__card-footer">
            <p class="text-base text-grey-100">World Map PowerPoint Template</p>
            <p class="home__card-text text-green-100 uppercase">9 Slides</p>
            <div class="tags text-blue-200 flex">
              <a href="#" class="tags-item">Timelines</a>
              <a href="#" class="tags-item mr-0">Timelines</a>
            </div>
          </div>
        </div>

        <div class="home__card">
          <img src="../img/slide3.jpg" class="home__card-img" alt="slide1"/>
          <div class="home__card-footer">
            <p class="text-base text-grey-100">Timeline Pictures PowerPoint Template</p>
            <p class="home__card-text text-green-100 uppercase">9 Slides</p>
            <div class="tags text-blue-200 flex">
              <a href="#" class="tags-item">Timelines</a>
              <a href="#" class="tags-item mr-0">Timelines</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--end of div class="home__templates"-->
  </div>
  <!--end of div class="home__wrapper"-->

</section>
<!--end of section class="home"-->
