<div class="l-header w-full flex bg-white">

  <!--div class="l-header__logo"-->
  <div class="l-header__logo">
    <a href="#"><img src="./img/logo_main.svg" alt="logo_main" class="l-header__logo-img"/></a>
  </div>
  <!--end of div class="l-header__logo"-->

  <!--div class="l-header__wrapper"-->
  <div class="l-header__wrapper flex-grow">
    <!--div class="l-header__searching-system"-->
    <div class="l-header__searching-system">
      <div class="input input--search relative">
        <input type="text" placeholder="Search for free templates" class="input__element w-full text-primary border border-blue-200 rounded-sm">
        <i class="fas fa-search text-blue-200 input__icon absolute"></i>
      </div>
    </div>
    <!--end of div class="l-header__searching-system"-->

    <!--div class="l-header__tags"-->
    <div class="tags text-blue-200 flex">
      <a href="#" class="tags-item">Timelines</a>
      <a href="#" class="tags-item">Roadmaps</a>
      <a href="#" class="tags-item">SWOT</a>
      <a href="#" class="tags-item">Agenda</a>
      <a href="#" class="tags-item">Process</a>
      <a href="#" class="tags-item">Marketing</a>
      <a href="#" class="tags-item">Dashboard</a>
      <a href="#" class="tags-item mr-0">Data</a>
    </div>
    <!--end of div class="l-header__tags"-->
  </div>
  <!--end of div class="l-header__wrapper"-->

  <!--div class="l-header__btn-part"-->
  <div class="l-header__btn-part flex">
    <button class="main-btn main-btn--secondary text-white bg-green-100 hover:bg-green-200 mr-6">
      register
    </button>
    <button class="main-btn main-btn--primary main-btn--small text-orange border border-orange">
      login
    </button>
  </div>
  <!--end of div class="l-header__btn-part"-->
</div>
