.l-header {
  padding: 12px 16px 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);

  &__logo {
    width: 259px;

    &-img {
      width: 130px;
    }
  }

  &__searching-system {
    margin: 0 14px 6px 0;
  }
}
