/* Home page styles ----------------------------------
 ----------------------------------------------------- */
.home {
  padding-top: 83.6px;
  font-size: 1.07rem;

/*styles for div class="home__list"------*/
  &__list {
    width: 270px;
    padding: 34px 0 0 19px;
    max-height: calc(100vh - 83.6px);
    overflow: auto;

    &-item {
      transition: .3s;
      letter-spacing: -0.38px;
      margin-bottom: 27px;
      &:hover {
        @apply text-green-100;
      }
    }
  }

/*styles for div class="home__lable"------*/
  &__label {
    width: 230px;
    padding: 31px 24px 26px;
    border-radius: 3px;

    &-title {
      font-size: 1.33rem;
      @apply font-bold;
      margin-bottom: 12px;
    }

    &-text {
      font-size: 0.87rem;
      margin-bottom: 23px;
    }
  }

/*styles for div class="home__wrapper"------*/
  &__wrapper {
    width: calc(100% - 270px);
    padding: 35px 35px 0 5px;
  }

  &__banner {
    height: 140px;
    position: relative;
    padding: 0 30px 0 40px;
    margin-bottom: 50px;
    border-radius: 4px;
    background: radial-gradient(circle at 0 0, rgba(0, 103, 166, 0.9), rgba(39, 151, 220, 0.8)), url(../img/banner.png) left top;
    overflow: hidden;
    &:after {
      content: "";
      width: 70%;
      height: 100%;
      @apply bg-blue-500;
      position: absolute;
      top: 0;
      left: 55%;
      transform: skewX(-30deg);
    }

    &-title {
      font-size: 1.46rem;
    }

    &-text {
      margin-bottom: 12px;
    }
  }

/*styles for div class="home__templates"------*/
  &__templates {
    &-title {
      font-size: 2.8rem;
      line-height: 1.52;
      margin-bottom: 30px;
    }

    &-row {
      margin-bottom: 27px;
    }
  }

  /*styles for div class="home__card"------*/
  &__card {
    width: calc(33.3% - 20px);
    @apply rounded overflow-hidden mr-8;
    margin-right: 30px;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.14);
    @apply mb-8;
    &:nth-of-type(3) {
      @apply mr-0;
    }

    &-img {
      @apply w-full;
    }

    &-footer {
      padding: 19px 0 20px 21px;
    }

    &-text {
      font-size: 0.93rem;
      margin: 8px 0;
    }

    &--banner {
      padding: 72px 0 30px;
      position: relative;
      background: radial-gradient(circle at 0 0, rgba(0, 103, 166, 0.9), rgba(39, 151, 220, 0.8)), url(../img/banner.png) left top;
      background-size: contain;
      &:after {
        content: "";
        position: absolute;
        bottom: -10%;
        width: 100%;
        height: 45%;
        @apply bg-blue-500;
        transform: skewY(-10deg);
      }
    }

    &-title {
      font-size: 1.6rem;
      margin-bottom: 7px;
    }
  }
}
